<h1 class="heading-1">Plant a seed</h1>
<p class="paragraph mb-6">Think of what you want to cultivate in your life and make it a seed.</p>

<%= render "form", goal: @goal %>

<%= link_to 'Return to The Garden', goals_path, class: 'btn-secondary mt-8' %>
